/* Ensures the entire layout takes up full viewport */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*OPTIONAL, but recommended:
  * Prevents borders and padding from messing with
    explicitly declared height or width.
  * Resets margin and padding on everything in the
    browser.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
  display: flex;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  position: relative;
}

.morpher-container {
  position: relative;
  width: 80vw;  /* Scales with screen */
  height: auto; /* Keeps aspect ratio */

  display: flex;
  justify-content: center;
  align-items: center;
}

#morpher {
  width: 60%;
  height: auto;
  display: block;
}

.two-displays {
  width: 100px;
  height: 30px;
  border: 1px solid black;
}

#operator-container {
  display: flex;
  flex-direction: column;
  width: 5.8%;
  height: auto;
  position: absolute;
  top: 54.9%;  /* Adjust this to place buttons where you want */
  left: 49.5%;
  transform: translate(-50%, -50%); /* Center align */
  gap: 0.5vw;
}

.operator-button {
  font-size: 1.9vw;
}

#number-button-container {
 position: absolute;
 top: 55.4%;
 left: 64.1%;
 transform: translate(-50%, -50%);

 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-rows: repeat(4, 1fr);
 gap: 0.8vw;

 width: 16%;
}

.number-button, .ce-button, .equal-button {
  font-size: 1.6vw;
}