/* Remove default browser styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#display, #prev-exprs {
    min-height: 4vh;
    border: solid lightblue;
    margin: 1vh;
}

/* body {
    background-image: url('./img/star-starry-sky-night-backgrounds-textures-ac0cd5-1024.jpg');
} */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

img#morpher {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;
    max-height: 50vh;
    width: 50%;
    height: 50%;
    z-index: 1;

    border: solid yellowgreen 1px;
}

.buttons-and-displays {
    display: flex;
    width: 30vw;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -50%);
    max-width: 50%;
    max-height: 50%;
    width: 30%;
    height: 50%;
    z-index: 2;

    border: solid blue 1px;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.operators {
    display: flex;
    flex-direction: column;
    margin: 2.61vh;
}

.operator-button {
    /* margin: 0.1em;
    padding: 0.1em 0.5em; */
    font-size: 2vh;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.two-displays {
    display: flex;
    flex-direction: column;
}

#prev-exprs, #display {
    min-width: 22vw;
}

.central-buttons {
    display: flex;
    flex-wrap: wrap;
}

.number-button, .ce-button, .equal-button {
    /* width: calc(100% / 3);  */
    /* flex-grow: 1;  */
    /* max-width: calc(100% / 4);  */
    /* margin: 2px;  */
    font-size: 1.5vh; 
    width: 1vw;
    flex: 0 0 33.3333%;
}

.third {
    display: flex;
    justify-content: flex-end;

}

/* .operators {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 54%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    width: 2%;
    max-width: 5vw;
    z-index: 2;
} */

/* .operator-button {
    margin: 0.1em;
    padding: 0.1em 0.5em;
    font-size: 0.7em;
} */

/* .central-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    position: absolute;
    top: 54%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: 5%;
    z-index: 2;
} */

/* .number-button, .ce-button, .equal-button {
    width: calc(100% / 3); 
    flex-grow: 1; 
    max-width: calc(100% / 4); 
    margin: 2px; 
    font-size: 0.5em; 
} */

/* #display {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    max-height: 80vh;
} */

/* .number-button {
    position: fixed;
    z-index: 2;
} */

/* button#1 {
    position: fixed;
    z-index: 2;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
} */
